@model ProceduresRecord.Web.MVC.Models.User

@{
    ViewBag.Title = "Eliminar Usuario";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Profile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Profile)
        </dd>

    </dl>

    @* Remember: Html.BeginForm gets the id from the URI, so no need to use a hidden id field *@
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Confirmar" class="btn btn-default" /> |
            @Html.ActionLink("Volver a la Lista", "Index")
        </div>
    }
</div>
